@use "colors" as c;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: c.$black;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: c.$white;

	&__left-side {
		padding: 1.5em;
		margin-left: 1em;

		.nav-logo {
			height: 30px;
		}
	}

	&__right-side {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.8rem;
		width: 70%;
		// display: none;
	}

	&__ul-item {
		display: inline-block;
		list-style: none;
		padding: 1em;
		margin: 0.5em;

		&:hover a{
			color: #000;
		}

		a {
			color: c.$black;
			text-decoration: none;
		}
	}

	&__buttons-button {
		padding: 1.2em 2.4em;
		font-size: 1.2rem;
		background: none;
		color: c.$main;
		font-weight: bold;
		border-radius: 4px;
		border: 1px solid c.$main;
		text-transform: uppercase;

		&:hover:first-child {
			color: c.$white;
			background-color: c.$main;
		}

		&:last-child {
			margin-right: 4em;
			margin-left: 1em;
			color: c.$white;
			background-color: c.$main;

			&:hover {
				background-color: #029b77;
			}
		}
	}

	&__bars-btn {
		display: none;
		padding: 1em;
		margin-right: 2em;
		background: none;
		border: none;
		cursor: pointer;

		.fa-solid {
			font-size: 3rem;
		}
	}
}
